@using DataLayer.Entities
@{
    IEnumerable<Portfolio> portfolioModel = ViewData["Portfolio"] as IEnumerable<Portfolio>;
    IEnumerable<PortfolioSection> portfolioSectionModel = ViewData["PortfolioSection"] as IEnumerable<PortfolioSection>;

    var portfoliobackground = "";
    if (portfolioSectionModel.Count() != 0)
    {
        portfoliobackground = portfolioSectionModel.First().BackgroundImage == "" ? portfolioSectionModel.First().BackgroundImage : "";

    }
}



<div id="Portfolio">
    <div class="container">
        @{ if (portfolioSectionModel.Count() != 0)
            {
                <h3 class="title" style="color:#191919">@portfolioSectionModel.First().Title</h3>
            }
        }

        <div class="text-center">
            <h1 class="lines-effect">
                <i class="fa fa-star-o"></i>
            </h1>

        </div>
        <div class="gallery-block grid-gallery">
            <div class="row">
                <div class="imageGallery">
                    @foreach (var item in portfolioModel)
                    {
                        <div class="col-md-3 col-xl-3 col-sm-6 ">
                            <a href="~/img/@item.ImageUrl" title="@item.ImageCaption"><img src="~/img/@item.ImageUrl" alt="@item.ImageAlt" /></a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>